#background_outdoor{
    position: absolute;
    inset: 1;
    z-index: -1;
    width: 100%;
    height: 100%;
}

#background_outdoor img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#background_outdoor::after {
    content: '';
    width: inherit;
    height: inherit;
    position: fixed;
    inset: 0;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.9), transparent);
}

.outdoor_info {
    width: 100%;
    max-width: 570px;
    padding-left: 50px;
    padding-top: 290px;
}

.outdoor_info h2{
    font-size: 50px;
    font-family: arial;
    margin: 20px 0px 28px; 
    color: whitesmoke; 
}

.outdoor_info p{
    font-size: 24px;
    margin: 20px 0px 28px;
    color: whitesmoke; 
    font-family: arial;
}
.outdoor_info div {
    display: flex;
    column-gap: 32px;
}
.outdoor_info div a, .outdoor_info div button {
    width: 100%;
    padding: 10px 0;
    border-radius: 3px;

    font-size: 16px;
    font-weight: 600;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.3px;

    transform: skew(-10deg);
}

.outdoor_info div a{
    background: #ca9de6;
}

.outdoor_info .button_compra{
    background: transparent;
    border: 1px solid var(--purple);
}
.outdoor_info .button_compra:hover{
    background: var(--purple);
    border: 1px solid var(--purple);
}